 $footerColor: #404042;

/* =Caixa */
$borderCaixaBackground: #fdfbfe;


 /* buttonColor */
 $buttonTextColor: #404042;
 $buttonIconColor: #b8e2be; 

 /* =Misc */
 $containerHeight: 600px;
 $containerWidth: 1024px;

 $popupBgTopo: #7dafa9;

 $colorWhite: #fff;

 $colorLink: #00476c;

 $backgroundGreen: #80c342;
 $backgroundBlue: #007db7;
 $backgroundSoftBlue: #00a8dd;
 $backgroundGray: #ecebe7
