@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');

}

@font-face {
    font-family: 'Born Losers';
    src: url('../fonts/BornLosers-Regular.eot');
    src: url('../fonts/BornLosers-Regular.eot') format('embedded-opentype'),
         url('../fonts/BornLosers-Regular.otf') format('opentype'),
         url('../fonts/BornLosers-Regular.woff2') format('woff2'),
         url('../fonts/BornLosers-Regular.woff') format('woff'),
         url('../fonts/BornLosers-Regular.ttf') format('truetype'),
         url('../fonts/BornLosers-Regular.svg#BornLosers-Regular') format('svg');

}

@font-face {
    font-family: 'Born Losers Sans';
    src: url('../fonts/BornLosersSans-Regular.eot');
    src: url('../fonts/BornLosersSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/BornLosersSans-Regular.otf') format('opentype'),
         url('../fonts/BornLosersSans-Regular.woff2') format('woff2'),
         url('../fonts/BornLosersSans-Regular.woff') format('woff'),
         url('../fonts/BornLosersSans-Regular.ttf') format('truetype'),
         url('../fonts/BornLosersSans-Regular.svg#BornLosersSans-Regular') format('svg');

}

@font-face {
    font-family: 'Valera Round';
    src: url('../fonts/VarelaRound-Regular.eot');
    src: url('../fonts/VarelaRound-Regular.eot') format('embedded-opentype'),
         url('../fonts/VarelaRound-Regular.otf') format('opentype'),
         url('../fonts/VarelaRound-Regular.woff2') format('woff2'),
         url('../fonts/VarelaRound-Regular.woff') format('woff'),
         url('../fonts/VarelaRound-Regular.ttf') format('truetype'),
         url('../fonts/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');

}


body{
    font-size: 10px; 
    font-family: "Valera Round", sans-serif;
}


@import "_variables";
@import "_components";

/* =MISC */
.alignCenter{
    text-align: center;
}

a{
    color: $colorLink;
    font-size: 16px;
}

.brand{

    height: 60px;
    width: 248px;

    float: left;

    background-color: #f00;
}

.button{

    &--small{
        border: 1px solid $colorLink;
        border-radius: 25px;
    }
}

.nav{
    li{
        margin-right: 25px;
    }
}

.main{

    &__nav{
        margin: 0px auto 0;
        padding-top: 55px;
        width: 990px;
    }

    &__container{
        background: url(../images/background.png) no-repeat;
        background-size: cover;
        min-height: 768px;

        position: relative;
    }
}

.folder{

    &__container{
        position: absolute;
        width: 950px;

        bottom: 0px;
        left: 50%;
        margin-left: -475px;
    }

    &__image{
        display: inline-block;
        background-color: #f00;

        height: 500px;
        width: 500px;
    }

    &__text{

        display: inline-block;
        padding-left: 60px;

        color: $colorLink;
        font-family: "Valera Round", sans-serif;

        >h2{
            font-weight: 100;
        }
    }
}

.background{

    padding: 96px 0;

    color: $colorWhite;
    font-family: "Myriad Pro", 'PT Sans', sans-serif;
    font-size: 24px;

    &--isGreen{
        @extend .background;
        background-color: $backgroundGreen;
        font-weight: 100;
    }

    &--isBlue{
        @extend .background;
        background-color: $backgroundBlue;
    }

    &--isSoftBlue{
        @extend .background;
        background-color: $backgroundSoftBlue;
    }

     &--isGray{
        @extend .background;
        background-color: $backgroundGray;

        color: $colorLink;
    }

    &--noPadding{
        padding: 0px;
    }
}

.section{
    &__title{
        margin-bottom: 40px;

        font-family: 'Born Losers Sans';
        font-size: 72px;
        letter-spacing: 1px;

        text-transform: uppercase;

        &--description{
            @extend .section__title;

            color: $backgroundSoftBlue;
            font-size: 56px;
        }
    }
}

.comgas{
    &__faz{
        font-family: 'Born Losers Sans';
        font-size: 220px;

        &--isBlue{
            color: $colorLink;
        }

        &--isGreen{
            color: $backgroundGreen;
            font-size: 110px;
        }
    }

    &__transforme{
        font-weight: bolder;
        border-bottom: 1px solid; 
    }

    &__texto{
        font-size: 2em;
    }

    &__card{
        >div{
            font-size: 16px;
        }
        .info{
            color: $backgroundGreen;
            font-family: 'Born Losers Sans';
            font-size: 36px;
            font-weight: bolder;
        }
    }
}

.highFont{
    font-family: 'Born Losers Sans';
    font-size: 82px;
    text-transform: uppercase;

    &--info{
        @extend .highFont;

        font-size: 36px;
        font-weight: 200;
    }
}
.emphasis{
    font-size: 28px;
    font-weight: 800;
}

