//@import '_shortcuts';
@import '_variables';
@import '_helpers';

/* =SITE */
body{
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Lato", "Helvetica", "Arial" , sans-serif !important;
  font-size: 10px;
  font-weight: lighter;

  @media #{$tiny}{
  	overflow-y: auto;
  }

  @media #{$desktop}{
  	overflow: hidden;
  }
}

/* 
	=Misc
*/
.form-control{
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

label{
	font-size: 1.2rem;
}