@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');

}

@font-face {
    font-family: 'Born Losers';
    src: url('../fonts/BornLosers-Regular.eot');
    src: url('../fonts/BornLosers-Regular.eot') format('embedded-opentype'),
         url('../fonts/BornLosers-Regular.otf') format('opentype'),
         url('../fonts/BornLosers-Regular.woff2') format('woff2'),
         url('../fonts/BornLosers-Regular.woff') format('woff'),
         url('../fonts/BornLosers-Regular.ttf') format('truetype'),
         url('../fonts/BornLosers-Regular.svg#BornLosers-Regular') format('svg');

}

@font-face {
    font-family: 'Born Losers Sans';
    src: url('../fonts/BornLosersSans-Regular.eot');
    src: url('../fonts/BornLosersSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/BornLosersSans-Regular.otf') format('opentype'),
         url('../fonts/BornLosersSans-Regular.woff2') format('woff2'),
         url('../fonts/BornLosersSans-Regular.woff') format('woff'),
         url('../fonts/BornLosersSans-Regular.ttf') format('truetype'),
         url('../fonts/BornLosersSans-Regular.svg#BornLosersSans-Regular') format('svg');

}

@font-face {
    font-family: 'Valera Round';
    src: url('../fonts/VarelaRound-Regular.eot');
    src: url('../fonts/VarelaRound-Regular.eot') format('embedded-opentype'),
         url('../fonts/VarelaRound-Regular.otf') format('opentype'),
         url('../fonts/VarelaRound-Regular.woff2') format('woff2'),
         url('../fonts/VarelaRound-Regular.woff') format('woff'),
         url('../fonts/VarelaRound-Regular.ttf') format('truetype'),
         url('../fonts/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');

}


body{
    font-size: 10px; 
    font-family: "Valera Round", sans-serif;
}


@import "_variables";
@import "_components";

/* =MISC */
.alignCenter{
    text-align: center;
}

a{
    color: $colorLink;
    font-size: 16px;
}

.brand{

    height: 57px;
    width: 239px;

    float: left;

    background: url(../images/brand.png) no-repeat;
}

.button{

    &--menu{
        padding: 5px 15px;
        font-size: 16px;

        border: 3px solid $colorLink;
        border-radius: 20px;
    }

    &--small{

        padding: 10px 25px;

        border: 3px solid $colorLink;
        border-radius: 40px;

        font-size: 32px;
    }

    &--top{
        position: fixed;
        bottom: 35px;
        right: 35px;
        z-index: 15000;
        
        color: $backgroundSoftBlue;
        font-size: 72px;

      
    }
}

.nav{
    li{
        margin-right: 20px;

        &.listDivider{
            margin-right: 79px;

            &--isRight{
                margin-left: 100px;

                @media screen and (max-width: 572px) {

                    margin-left: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 572px) {
        li{
            margin-right: 10px;

            float: left;
            display: inline-block;
        }
    }
    
}

.main{

    &__nav{
       
        width: 990px;
        position: absolute;
        left: 50%;
        top: 50px; 
        margin-left: -495px;
    }

    &__container{
       /* background: url(../images/background.png) no-repeat;
        background-size: cover;
        position: relative;*/

        .img-fluid{
            width: 100%;
        }
    }
}

.folder{

    &__container{
        position: absolute;
        width: 950px;

        bottom: 0px;
        left: 50%;
        margin-left: -475px;
    }

    &__image{
        display: inline-block;
        background-color: #f00;

        height: 500px;
        width: 500px;
    }

    &__text{

        display: inline-block;
        padding-left: 60px;

        position: absolute;
        bottom: 20px;
    

        color: $colorLink;
        font-family: "Valera Round", sans-serif;

        >h2{
            font-weight: 100;
        }
    }
}

.background{

    padding: 96px 0;
    position: relative;

    color: $colorWhite;
    font-family: "Myriad Pro", 'PT Sans', sans-serif;
    font-size: 24px;

    &--isGreen{
        @extend .background;
        background-color: $backgroundGreen;
        font-weight: 100;
    }

    &--isBlue{
        @extend .background;
        background-color: $backgroundBlue;
    }

    &--isSoftBlue{
        @extend .background;
        background-color: $backgroundSoftBlue;
    }

     &--isGray{
        @extend .background;
        background-color: $backgroundGray;

        color: $colorLink;
    }

    &--noPadding{
        padding: 0px;
    }

    
}

@media (max-width: 572px){
    .background{
        padding: 20px 0;

        font-size: 16px;
    }
}

.section{
    &__title{
        margin-bottom: 40px;

        font-family: 'Born Losers Sans';
        font-size: 72px;
        letter-spacing: 1px;

        text-transform: uppercase;

        &--description{
            @extend .section__title;

            color: $backgroundSoftBlue;
            font-size: 56px;
        }
    }

    @media (max-width: 572px){
        &__title{
            margin-bottom: 15px;
            font-size: 42px;
            text-align: center;

            &--image{
                margin: 10px 0px;

                text-align: center;
            }
        }
    }
}

.pin{
    position: absolute;
    right: 0px;

    top: 50%;

    &--right, &--left{
        margin-top: -54px;
    }

    &--right{
        @extend .pin;
    }

    &--left{
        @extend .pin;

        left: 0px;
    }
}

.comgas{
    &__faz{
        font-family: 'Born Losers Sans';
        font-size: 220px;

        >image{
            max-width: 350px;
        }

        &--isBlue{
            color: $colorLink;
        }

        &--isGreen{
            color: $backgroundGreen;
            font-size: 110px;

        }
    }

    &__transforme{
        font-weight: bolder;
        border-bottom: 1px solid; 
    }

    &__texto{
        font-size: 2em;
    }

    &__card{
        >div{
            font-size: 16px;
        }
        .info{
            color: $backgroundGreen;
            font-family: 'Born Losers Sans';
            font-size: 36px;
            font-weight: bolder;
        }
    }
}

.etapa{
    li{
        display: inline-block;
        float: left;
        position: relative;

        margin-right: 135px;

        &:last-child{
            margin-right: 0px
        }

        >img{
            width: 87px;

           
        }
        
        &:not(:last-child){
            &:after{
                content: ' ';
                height: 3px;
                width: 80px;
    
                background-color: $backgroundGreen;
    
                position: absolute;
    
                top: 30%;
                right: -100px;
            }
        }     
    }

    &__title{
        margin-top: 50px;
        text-align: center;
    }

    
}

@media screen and (max-width: 572px) {
    .etapa{

        padding: 0px;

        li{
            clear: both;
            display: block;
            list-style: none;
            float: initial;
            text-align: center;

            margin: 0px;
           

            &:not(:last-child){
                &:after{
                    content: ' ';
                    height: 35px;
                    width: 3px;
        
                    background-color: $backgroundGreen;
        
                    position: absolute;
                    
                    left: 50%;
                    bottom: -50px;
                    top: initial;

                    margin-left: -1px;
                }
            }  
            
            &:not(:first-child){
                margin-top: 55px;
            }
        }

        &__title{
            margin-top: 15px;
        }
    }
}

.beneficios{
   
}

@media screen and (max-width: 572px) {
    .beneficios{
        
        margin-top: 15px;

        &--image{
            text-align: center;
            img{
                width: 90px;
            }
        }

        &--text{
            text-align: center;
        }
    }
}

.dateCounter{
    margin: 0 auto;

    text-align: center;

    &__holder{
        display: inline-block;
    }

    &__container{
        display: flex;
        align-items: center;

        text-align: center;

        @media screen and (max-width: 572px) {
            display: block;
        }
    }

    &__item{

        margin-right: 40px;

        text-align: left;
        color: $colorLink;
        font-size: 30px;
        line-height: 32px;

        &--right{
            margin-left: 40px;
        }
    }
}

#navbarSupportedContent{
    
    position: absolute;
    top: 40px;
    left: 5px;
    width: 100vw;
    z-index: 200;

    .nav{
        li{
            display: block;
            width: 100%;

            background-color: #fff;

            a{
                margin: 5px 0;
            }
        }
    }
}

.link{
    &--isSocial{
        font-weight: bold;
        font-size: 22px;

        @media screen and (max-width: 572px) {
            font-size: 16px;
        }
    }
}

.highFont{
    font-family: 'Born Losers Sans';
    font-size: 82px;
    text-transform: uppercase;

    &--info{
        @extend .highFont;

        font-size: 36px;
        font-weight: 200;
    }

    &--isGreen{
        @extend .highFont;

        color: $backgroundGreen;
        font-size: 172px;

        text-decoration: underline;

        @media screen and (max-width: 572px) {
            display: block;
            font-size: 82px;
        } 
    }

    &--isDate{
        @extend .highFont;

        font-size: 52px;

        @media screen and (max-width: 572px) {
            display: block;

            font-size: 42px;
        }   
    }
}




.emphasis{
    font-size: 28px;
    font-weight: 800;
}

.fontBold{
    font-weight: bold;
}

.marginTop50px{
    margin-top: 50px;
}

.marginTop80px{
    margin-top: 80px;
}

@media screen and (max-width: 572px) {
    .marginTop80px{
        margin-top: 20px;
    }       
}

.marginLeft45px{
    margin-left: 45px;

    @media screen and (max-width: 572px) {
        margin-left: 0px;
    }
}

.marginRight45px{
    margin-right: 45px;

    @media screen and (max-width: 572px) {
        margin-right: 0px;
    }
}

.marginTop10Neg{
    margin-top: -10px;
}

.displayInlineBlock{
    display: inline-block;
}

.navbar-toggler{
    position: absolute;

    left: 5px;
    top: 5px;
}